<div class="container nxt-btn">
    <h4 class="text-center">Credit Card Details</h4>

    <table class="mt-3 table table-striped"  *ngIf="creditCardDetails$">
        <thead>
          <tr>
            <th scope="col">S/N</th>
            <th scope="col">Card Holder Name</th>
            <th scope="col">Card Number</th>
            <th scope="col">Expiration Date</th>
            <th scope="col">Security Code</th>
            <th scope="col">Amount</th>


          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="5" class="alert alert-danger" *ngIf="error$ | async as error">{{error}}</td>
          </tr>
          <tr *ngFor="let cd of (creditCardDetails$ |async); let i=index">
            <th scope="row">{{i + 1}}</th>
            <td>{{cd.cardHolder}}</td>
            <td>{{cd.creditCardNumber}}</td>
            <td>{{cd.expirationDate}}</td>
            <td>{{cd.securityCode}}</td>
            <td>{{cd.amount}}</td>
          </tr>
        </tbody>
      </table>
</div>
